{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container-fluid">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" style="font-family: Perpetua; color: #ffebcd;">
        <h3>X-BANK</h3>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {% if user.is_authenticated %}
        <li class="nav-item">
           <a class="nav-link" href="taskapp/login">LOGIN</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="/register">REGISTRATION</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            BRANCH
           </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">TRIVANDRUM</a>
            <a class="dropdown-item" href="#">ERNAKULAM</a>
            <a class="dropdown-item" href="#">PALAKKADU</a>
            <a class="dropdown-item" href="#">KOLLAM</a>
            <a class="dropdown-item" href="#">TRISSUR</a>
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>
